@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Pixel+Mplus+12&display=swap');

 body {
      margin: 0;
      overflow-x: auto; /* 横スクロールを許可 */
      white-space: nowrap;  
     background-color: white;
     background-image: url("pngs/tile.png");
     background-size: 100px 100px; /* タイルのサイズを設定 */
     color: white;

     
     font-family: "PixelMplus10", monospace;
     letter-spacing: 1px;
       text-align: center;
       padding-top: 50px;
       image-rendering: pixelated;
     
    }


button {
  background-color: #133f52;
  color: #c7f9ff;
  border: 3px solid #3de0ff;
  padding: 8px 15px;
  /* font-family: "Press Start 2P", monospace; */
  font-size: 10px;
  cursor: pointer;
  margin: 5px;
  transition: all 0.1s ease-in-out;

}
#debugButton {
    font-size: 10px;
    padding: 3px;
    border: 2px solid #ff6a00;
    background-color: #ffd9a8;
    color: #000000;
}

button:hover {
  background-color: #1c5d75;
  transform: scale(1.05);
}

button:active {
  background-color: #0a2e40;
  transform: scale(0.95);
}

#homeButton {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

#stock {
    margin-left: -80px;
    background-color: #9e3700;
    border: 3px solid #ff855c;
}

.card{

    border-radius:12px;
}

.topCards{

    margin-top:1%;
     white-space: nowrap;  
    display: inline-block;

}

.line3{

    margin-top:2%;
     white-space: nowrap;  
}

.blank{

    opacity:0;
}

.gensiCard{
    width: 100;
    height: auto;
    
    
}

#displayCards{
    margin: 0 auto;
    margin-top:1%;
    /* margin-left:5px;
    margin-right:0%; */
    border:3px solid #3de0ff;
    border-radius:12px;
    height:230px;
    width:390px;
    background-color:#133f52;

    position absolute;
    /* transition: all 2s linear; */
    transition: transform 0.5s ease-out, opacity 0.3s ease-in-out;

}

.below5{
    margin-top:30px;
    position: absolute;
    width: 70;
    height: auto;
    
    
}



#displayCard1{
    margin-left:-190px;
}
/* -195ずつしていきましょう↓ */

#displayCard2{
    margin-left:-115px;
}

#displayCard3{
    margin-left:-40px;
}

#displayCard4{
    margin-left:35px;
}

#displayCard5{
    margin-left:110px
}

.over6{
    margin-top:0px;
    /* absoluteで他の画像と自動で作られる距離を無視できる */
    position: absolute;
    width: 50;
    height: auto;
    
    
}

#displayCard6{
    margin-left:-190px;
}

#displayCard7{
    margin-left:-135px;
}

#displayCard8{
    margin-left:-80px;
}

#displayCard9{
    margin-left:-25px;
}

#displayCard10{
    margin-left:30px;
}

#displayCard11{
    margin-left:85px;
}

#displayCard12{
    margin-left:140px;
}

.hide{
    visibility: hidden;
}

.dark{
    filter:brightness(50%);
}

#whatBunsi{
    margin-top:160px;

}

#turn{
    margin-top:0px;
    margin-left:10px;
    font-size:20px;
}



.test{
    margin-top:500px;
}

/* 画面の横幅からカード四枚分の400pxを引いたものをニで割った値を左側のmarginにすれば全体的に真ん中に来る？ */

#version{
    font-size:40%;
}

#setName{
    margin-bottom:15px;
}

#displayFinishCondition{
    color: #ffff9e;
}

#reloadPage{
    
    text-decoration: underline;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    color: #99ceff;
    font-size: 10px;
}

/* ヒントページ */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none; /* 最初は非表示 */
    justify-content: center;
    align-items: center;
    z-index: 6000;
  }

  /* 中央のウィンドウ（iframe） */
  #overlay iframe {
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 10px;
    background-color: white; 
  }

.bunsiDisplay {
    display: inline-block;
    width: 80px;
    height: 130px;
    border-radius: 10px;
     border:3px solid #3de0ff;
    text-align: left;
    padding: 10px; 
    font-size: 23px;
    
}

.bunsiDisplay.none {
    border: 3px dashed #28879a;
}

/* 点滅アニメーションの定義 */
@keyframes blinking {
  0%   { opacity: 0.3; }
  100% { opacity: 1; }
}

.bunsiDisplay.none .bunsiNum {
    opacity: 0;
}

.bunsiDisplay.none.elected {
    background-color: #00a1d8;
    animation: blinking 0.5s ease-in-out infinite alternate;
}

.bunsiH b {
    color: #01c7ff;
}

.bunsiC b {
    color: #30201f;
}

.bunsiN b{
    color: #0155fe;
}

.bunsiO b {
    color: #fe2b2a;
}

#screenFilter {
  position: fixed;
  inset: 0; /* 画面全体 */
  background: rgb(245, 149, 71, 0.1); /* 好きな色や濃さに */
  pointer-events: none; /* クリックを邪魔しない */
  display: none; /* 初期状態は非表示 */
  z-index: 9999;
}

#command {
    display: none;
    margin-bottom 10px;
}

#debugButton {
    display: none;
}


#myPoint{
    /* position: absolute; */
    
}

#setting {
    
}
